.main-navigation {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 1010px;
  margin: 0 auto;

  @media (max-width: $tablet-max-width) {
    width: 100%;
    max-width: 100%;
    padding-top: 25px;
    padding-bottom: 5px;
  }
}

//КНОПКА ПЕРЕКЛЮЧЕНИЯ МЕНЮ
.main-navigation__toggle {
  display: none;

  @media (max-width: $tablet-max-width) {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 30;

    display: block;
    width: 50px;
    height: 50px;

    border: none;

    cursor: pointer;
  }
}

.main-navigation--closed .main-navigation__toggle {
  @media (max-width: $tablet-max-width) {
    background-color: $green;
  }
}


.main-navigation--opened .main-navigation__toggle {
  @media (max-width: $tablet-max-width) {
    background-color: $white;
  }
}


.main-navigation--closed .main-navigation__toggle::before {
  @media (max-width: $tablet-max-width) {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 30px;
    height: 30px;

    background-image: url("../img/back-icon-menu-open.svg");
    background-repeat: no-repeat;
    background-position: center;
  }
}

.main-navigation--opened .main-navigation__toggle::after {
  @media (max-width: $tablet-max-width) {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 22px;
    height: 22px;

    background-image: url("../img/back-icon-menu-closed.svg");
    background-repeat: no-repeat;
    background-position: center;
  }
}

.main-navigation--nojs .main-navigation__toggle {
  @media (max-width: $tablet-max-width) {
    display: none;
  }
}

//ЭЛЕМЕНТЫ НАВИГАЦИИ
.main-navigation__list {
  @include reset-style-list;

  position: relative;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 21px 0 9px 0;

  @media (max-width: $tablet-max-width) {
    display: block;
    width: 100%;
    padding: 0;

    background-color: $white;
  }
}

.main-navigation__list::after {
  position: absolute;
  bottom: 0;
  left: 50%;
  content: "";
  transform: translateX(-50%);

  width: 86.5%;
  height: 1px;

  background-color: rgba($white, 0.2);

  @media (max-width: $tablet-max-width) {
    display: none;
  }
}

.main-navigation--closed .main-navigation__list {
  @media (max-width: $tablet-max-width) {
    display: none;
  }
}


.main-navigation__item {
  margin-left: 68px;
  margin-right: 68px;

  @media (max-width: $tablet-max-width) {
    width: 95.8%;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 30px;
    padding: 17px 2.1% 15px 2.1%;

    background-color: $grey-background;
  }

  @media (max-width: $mobile-max-width) {
    width: 90%;
    padding: 17px 5% 15px 5%;
  }
}

.main-navigation__item a[href*="#"] {
  font-weight: 300;
  font-size: 16px;
  line-height: 32px;
  color: $white;

  @media (max-width: $tablet-max-width) {
    display: flex;
    justify-content: space-between;

    font-weight: 400;
    font-size: 20px;
    line-height: 140%;
    color: $grey;
  }
}

.main-navigation__item a[href*="#"]::after {
  @media (max-width: $tablet-max-width) {
    content: "";

    width: 25px;
    height: 25px;
    margin-right: 0;

    background-image: url("../img/back-icon-arrow.svg");
  }
}

//cтили элементов навигации при оключенном js
.main-navigation--nojs .main-navigation__list {
  @media (max-width: $tablet-max-width) {
    display: flex;
    order: 2;

    width: 100%;
    margin-bottom: 250px;
    background-color: transparent;
  }

  @media (max-width: $mobile-max-width) {
    margin-bottom: 270px;
  }
}

.main-navigation--nojs .main-navigation__item {
  @media (max-width: $tablet-max-width) {
    margin-bottom: 10px;
    padding: 15px 16px 10px 16px;
    background-color: transparent;
  }
}

.main-navigation--nojs a[href*="#"] {
  @media (max-width: $tablet-max-width) {
    color: $white;
  }
}

.main-navigation--nojs a[href*="#"]::after {
  display: none;
}

//ЛОГОТИП
.main-navigation__logo-link {
  position: absolute;
  left: calc(50% - 440px);
  top: 318px;

  @media (max-width: $tablet-max-width) {
    position: static;
    order: 1;
    width: 68px;
    height: 20px;
    margin-left: 21px;
  }

  @media (max-width: $mobile-max-width) {
    margin-left: 16px;
  }
}

.main-navigation__logo-link img {
  width: 68px;
  height: 20px;
}

//СТИЛИ ПРИ ОТКРЫТОМ МЕНЮ В ПЛАНШЕТНОЙ И МОБИЛЬНОЙ ВЕРСИИ
.main-navigation--opened {
  @media (max-width: $tablet-max-width) {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 20;

    width: 100%;
    height: 100%;
    padding-top: 100px;

    background-color: $white;
    overflow-y: auto;
  }
}

.main-navigation--opened .main-navigation__logo-link {
  @media (max-width: $tablet-max-width) {
    display: none;
  }
}

//СТАЙЛГАЙД
.main-navigation__item a[href*="#"]:focus {
  outline: 2px solid $green;
}

.main-navigation__item a[href*="#"]:hover {
  color: $green;
}

.main-navigation--opened a[href*="#"]:hover {
  background-color: $white;
}

.main-navigation__item a[href*="#"]:active {
  outline: none;
  color: rgba($white, 0.3);

  @media (max-width: $tablet-max-width) {
    color: rgba($green, 0.5);
  }
}

.main-navigation--closed .main-navigation__toggle:focus {
  outline: 2px solid $white;
}

.main-navigation--opened .main-navigation__toggle:focus {
  outline: 2px solid $green;
}

.main-navigation--closed .main-navigation__toggle:hover {
  opacity: 0.9;
}

.main-navigation--opened .main-navigation__toggle:hover {
  opacity: 0.7;
}

.main-navigation--closed .main-navigation__toggle:active {
  outline: none;
  opacity: 0.7;
}

.main-navigation--opened .main-navigation__toggle:active {
  outline: none;
  opacity: 0.3;
}
