//Colors
$green: #0ad9c6;
$white: #ffffff;
$black: #000000;
$black-placeholder: #1c1c1c;
$black-title:  #1f1f1f;
$grey: #48494d;
$grey-background: #f6f6f6;

// Viewports
$min-width: 320px;
$mobile-max-width: 767px;
$tablet-max-width: 1023px;
