//Colors
$green: #0ad9c6;
$green-dark: #1bad9f;
$white: #ffffff;
$black: #000000;
$black-background:  #131314;
$black-placeholder: #1c1c1c;
$black-title:  #1f1f1f;
$grey: #48494d;
$grey-border: #c9ccd4;
$grey-background: #f6f6f6;
$grey-lighter-background: #f6f7f9;

// Viewports
$min-width: 320px;
$mobile-max-width: 767px;
$tablet-max-width: 1023px;
